<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Evora</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilos2.css">
</head>
<body>
    <header>
        <div class=container>
            <img class="logo" src="../static/img/a logo 1.png">
            <button class="home">
                <a href="/">Home</a>
            </button>
            <button class="projetos">
                <a href="/projetos">Projetos</a>
            </button>
        </div>
    </header>
    <main>
        <div class="item2">
            <img class="imagem1" src="../static/img/foto 80.jpeg">
            <h2>Meus Estudos...</h2>
            <p>Cursei o técnico em administração, integrado ao ensino médio, na ETEC São José dos Campos, tendo concluído o técnico em dezembro de 2019. Atualmente, curso Desenvolvimento de Software Multiplataforma pela Fatec São José dos Campos. Além disso, participei de alguns workshops em várias áreas, como Photoshop e Comunicação </p>
        </div>
        <div class="item3"></div>
            <img class="imagem2" src="../static/img/foto 13.png">
            <h4>Meus cursos de Idioma...</h4>
            <ul>
                <li>Espanhol- intermediário (Centro de Estudo de Línguas)</li>
                <li>Francês- intermediário (Centro de Estudo de Línguas)</li>
                <li>Mandarim- básico (Estudo Autônomo)</li>
                <li>Libras- básico (Aula particular)</li>
            </ul>
        

    </main>
</body>