<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Evora</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
    <header>
        
        <div class=container>
            <img class="imagem3" src="../static/img/a logo 1.png">
            <button class="estudos">
                <a href="/estudos">Estudos</a>
            </button>
            <button class="projetos">
                <a href="/projetos">Projetos</a>
            </button>
        </div>
    </header>
    <main>
        <div class=item3 >
            <img class=imagem1 src="../static/img/foto 1.jpg">
            <h2>Um Pouco Sobre Mim...</h2>
            <p>Olá! Sou Evora Castro. Se quiser ver sobre meus estudos e projetos é só clicar nos ícones a cima. Sou do Interior do Estado de São Paulo. Sempre gostei de tecnologia e lógica, mas também em interesso por arte de todos so tipos. Moro com minha família: Minha mãe, uma empreededora, que investe seu tempo na produção de seu profuto, Kombucha; meu pai, que dentre todas suas habilidades consta iluminação de eventos; minha irmã mais nova, dançarina e poliglota; e meu irmão mais novo, um excelente artista.</p>
        </div>
        <div class=item2></div>
            <img class=imagem2 src="../static/img/foto 7.jpg">
            <h4>Me Siga Nas Redes Sociais</h4>
            <img class="insta" src="../static/img/insta.png">
            <div class="redes1">Instagram:<a href="https://www.instagram.com/evorinhacastro/" target="_blank">@evorinhacastro</a></div>
            <img class="fb" src="../static/img/facebook.png">
            <div class="redes2">Facebook:<a href="https://www.facebook.com/evora.castro.5" target="_blank">evora.castro5</a></div>
            <img class="twitter" src="../static/img/twitter.png">
            <div class="redes3">Twitter:<a href="https://twitter.com/Evora27581793" target="_blank">@Evora27581793</a> </div>
            <img class="email" src="../static/img/email.png">
            <div class="redes4">Emails: evoraraiodesol@hotmail.com</div>
            <div class="redes5">evoraraiodesol@gmail.com</div>
    </main>   
</body>
</html>