<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Evora</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilos3.css">
</head>
<body>
    <header>
        <div class="container">
            <img class="logo" src="../static/img/a logo 1.png">
            <button class="home">
                <a href="/">Home</a>
            </button>
            <button class="estudos">
                <a href="/estudos">Estudos</a>
            </button>
        </div>
    </header>
    <main>
        <div class="item2">
            <h2>Meus Projetos</h2>
            <p>Participei no desenvolvimento de um projeto interno para a Fatec no ano de 2021, onde foi desenvolvido um sistema para a comunicação com os alunos, professores e colaboradores. Há outros projetos sendo desenvolvidos neste momento. Para acompanhar meus projetos acadêmicos visite meu
                <a href="https://github.com/MinEvora" class="linkgit">GitHub</a> 
            </p>
        </div>
        <div class="item3">
            <img class="imagem2" src="../static/img/Can I Touch your heart.png">
            <div class="arte">Além dos projetos da Área, eu também tenho projetos pessoais aos quais me dedico. Tenho grande interesse por fotografia, criação de capas de livro (como mostrada abaixo), musica e artes manuais. Para acompanhar minhas fotografias, artes finais e outros trabalhos manuais, bem como um pouco do meu dia a dia me siga nas redes sociais.
            </div>
        </div>

    </main>
</body>